<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户管理界面</title>
    <link rel="stylesheet" href="../static/css/one.css" th:href="@{/css/one.css}">
</head>
<body>

<div id="sidebar">
    <h2>剧本杀后台管理</h2>
    <ul>
        <li><a th:href="@{get_all_jb}" style="color: white; font-size: 20px;text-decoration: none;">剧本管理</a></li>
        <li style="background-color: #212121;"  >
            <a th:href="@{get_all_user}" style="color: white; text-decoration: none; font-size: 20px;">用户管理</a>
        </li>
        <li><a th:href="@{get_all_dd}" style="color: white; text-decoration: none; font-size: 20px;">订单管理</a></li>
        <li><a th:href="@{tiaozhuan}"  style="color: white; text-decoration: none; font-size: 20px;">数据统计</a></li>
    </ul>
</div>

<div id="main">
    <div id="header">
        <h1>剧本杀后台管理系统</h1>
        <img src="role-1.jpeg" alt="用户头像">
    </div>

    <div id="bottom1">
        <div class="search-container">
            <form th:action="@{get_xz_user}" method="get" >
                <input type="text" id="searchBox" placeholder="请输入搜索内容" th:name="user_id" th:value="${user_id}"style="width: 280px;height:45px;margin-right: 10px;border-radius: 10px;" />
                <button type="submit" style="text-align: right;margin-left: auto;padding: 10px 17px;background-color: skyblue; color: black;text-decoration: none; border: none; cursor: pointer;font-family: Arial, sans-serif;font-size: 16px;">查询</button>
            </form></div>

        <table class="rounded-shadow-table">
            <thead>
            <tr>
                <th>用户ID</th>
                <th>用户名</th>
                <th>用户密码</th>
                <th>用户手机号</th>
                <th>操作</th>
            </tr>

            <tr th:each="user : ${user}">
                <td th:text="${user.user_id}"></td>
                <td th:text="${user.user_name}"></td>
                <td th:text="${user.user_pwd}"></td>
                <td th:text="${user.user_phone}"></td>
                <td> <a th:href="@{update_a_pwd(user_id=${user.user_id})}" onclick="return deleteInfo()" style="border-radius: 6px;text-align: right;margin-right:10px;padding: 8px 15px;background-color:orangered; color: white;text-decoration: none; border: none; cursor: pointer;font-family: Arial, sans-serif;font-size: 14px;">重置密码</a >
                    <script>
                        function deleteInfo() {
                            const r = confirm("确定重置该用户密码？");
                            if (r) {
                                alert("重置成功");
                                return true;
                            }
                            return false;
                        }
                    </script></td>
            </tr>


        </table>
    </div>
</div>



</body>
</html>
